
#home-page {
  position: relative;
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: 100%;
  grid-template-rows: 12% 5% 80% 3%;
}

#home-page > header {
  grid-row: 1 / span 1;
}

#home-page #demos-menu {
  grid-row: 2 / span 1;
  height: 100%;
}

#home-page #EBMP-main {
  grid-row: 3 / span 1;
  display: grid;
  grid-template-columns: 25% 75%;
}

#home-page #contols-section {
  grid-column: 1 / span 1;
}

#home-page #music-provider-section {
  grid-column: 2 / span 1;
}

#home-page #footer-section {
  grid-row: 4 / span 1;
}



/* **************************************************************************** */
/* **************************************************************************** */
/* ***************************** B). Menu Section ***************************** */
/* **************************************************************************** */
/* **************************************************************************** */

#home-page #demos-menu > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: end;
  margin: auto;
  width: 100%;
  height: 100%;
}

#home-page #demos-menu > ul > li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

#home-page #demos-menu > ul > li > a {
  text-decoration: none;
}

.menu-item {
  color: rgb(154, 193, 183);
  margin-top: auto;
  padding-bottom: 3px;
}

.menu-item:hover {
  color: rgb(201, 234, 226);
  font-weight: bold;
}



/* **************************************************************************** */
/* **************************************************************************** */
/* ***************************** C). Main Section ***************************** */
/* **************************************************************************** */
/* **************************************************************************** */

#home-page #EBMP-main {
  margin: 0px 30px;
  background-color: rgb(58, 90, 78);
  border-radius: 30px;
}



/* ******************************************************************************** */
/* ******************************************************************************** */
/* ***************************** C1). Control Section ***************************** */
/* ******************************************************************************** */
/* ******************************************************************************** */

#home-page #record-button-container {
  width: 160px;
  margin: auto;
  margin-top: 50px;
}

#home-page #genre-selection {
  box-sizing: border-box;
  margin: 20px 10px 20px 10px;
  width: calc(100% - 20px);
}

#home-page .switch-box {
  display: flex;
  justify-content: space-around;
  align-content: center;
}



/* ************************************************************************************ */
/* ************************************************************************************ */
/* ***************************** C1). Music Board Section ***************************** */
/* ************************************************************************************ */
/* ************************************************************************************ */
#home-page #music-provider-section {
  background-color: rgb(31, 54, 49);
  border-radius: 30px;
  overflow-y: auto;
}

#home-page #music-board {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}
